name: Deploy to Neocities

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install neocities CLI
        run: gem install neocities

      - name: Upload to Neocities
        run: neocities push .
        env:
          NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_KEY }}
