# .github/workflows/deploy.yml
name: Deploy to Neocities

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby CLI
        run: sudo gem install neocities
      - name: Deploy to Neocities
        env:
          NEOCITIES_USERNAME: yourusername
          NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_KEY }}
        run: |
          neocities push ./ --ignore-file .neocitiesignore --verbose
