name: Deploy to Neocities

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install Neocities CLI
        run: gem install neocities

      - name: Deploy to Neocities
        run: neocities push ./ --ignore-file .neocitiesignore
        env:
          NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_KEY }}
